.button {
    padding: .5rem .8rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    border: .1rem solid #1E58FF;
    color: #1E58FF;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .button:active {
    transition: 0.8ms ease;
    background-color: #1E58FF;
    color: white;
  }

.secondary {
  @extend .button;
  padding: .7rem 1.2rem;
  font-size: 1.2rem;
  background-color: #1E58FF;
  color: white;
}

.secondary:active{
  transition: 0.8ms ease;
  background-color: white;
  color: #1E58FF;
}
